.tab-container{
    color: var(--cod-gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
}

.sfondoas{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    min-height: 100vh;
}

.bottomspace{
    margin-bottom: 1%;
}