@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Sofia Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SofiaPro-Regular") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/SofiaPro-Light") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/SofiaPro-SemiBold") format("opentype");
}

.app-man-nb{
    vertical-align: middle;
    display:flex;
    align-items:center;
    width:100%;
    height:80px;
}

.manage-sec{padding-top: 40%;}
.manage-sec:hover{color: #FF5A83;background: #e2e2e2;transition: 0.3s;}
.manage-content{
    position: absolute;
    width: auto;
    margin-left: 78px;
    margin-top: 1%;
    height: 100%;
    /*border: 2px solid lightgrey;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-left: 0px;*/
    text-align: center;
    transition: 0.3s;
}

.gestisci-app-modal{width: 100%;}

.preview{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 2%;
}

.left-nav{
    margin-top: 1%;
    height: 100%;
    width: 100px;
    float: left;
    border: 2px solid lightgrey;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
}

.manage-section-title{
    color: #C0C0C0;
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    transition: 0.3s;
    padding: 3%;
    overflow: hidden;
}

.gestisci-app-btn{
    background-color: white;
    border: 1.5px solid rgba(198, 195, 189, 1);
    border-radius: 10px;
    color: rgba(198, 195, 189, 1);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    width: 137px;
    transition: all 0.4s;
}

.gestisci-app-btn:hover{background-image: linear-gradient(#FF5A83, #FF7647);border: 0px;}

.logout-btn{
    border-radius: 10px;
    font-size: 11px;
    background-color: transparent;
}

.preview-btn{
    color: #4462C9;
    border: 1.5px solid;
    border-radius: 10px;
    border-color: #4462C9;
    background-color:white;
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    margin-left: 30%;
    transition: all 0.4s;
}

.preview-btn:hover{
    background-image: linear-gradient(#FF5A83, #FF7647);
    border: 0px;
    color:white;
    background-clip:unset
}

.share-btn{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    width: 137px;
    border: hidden;
    border-radius: 10px;
}

.top-nv-shadow{
    height: 6px;
    width: 100%;
    background: linear-gradient( lightgrey, transparent);
}

.right-nv-shadow{height: 100%;width: 6px;background: linear-gradient( lightgrey, transparent);}


.share-btn img{margin-right: 12%;}


