.immagine-sfondo-cu{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

.card-cu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    /* margin-bottom: 5%; */
    padding: 5%;
    max-width: 70vw;
    box-shadow: 10px 10px 51px rgba(98, 97, 97, 0.25);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.cu-title{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    overflow: hidden;
}

.cu-par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    padding:2%;
    margin-bottom: 5%;
    text-align: center;
}

.mail{
    display: flex;
    margin-top: 3%;
    flex-wrap: nowrap;
    flex-direction: column;
}
.mail .cu-par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    margin-top: 3%;
}

.immagine-sfondo-cu  .card-cu{
    max-width: 100vw;
    height: auto;
}

.contact-content{
    flex-direction: row;
    display: flex;
}

.contact-team-title{margin: auto;}
.cu-par {padding: 4%;}
.contact-content .mail {padding: 0%;margin-top: 1%;}
.immagine-sfondo-cu .icon{border-radius: 0%;}

.tel .cu-par a {padding: 0%;
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
}


/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .immagine-sfondo-cu .card-cu {padding: 6% !important;}


}
    
/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .tel .cu-par {padding: 0%;}
    .contact-team-title{margin: auto;}
    .cu-par {padding: 4%;}
    .contact-content .mail {padding: 0%;margin-top: 3%;}
    .immagine-sfondo-cu .icon{border-radius: 0%;}
    .immagine-sfondo-cu  .card-cu{ padding: 10% ;height: auto;margin-top: 32%;}
    .contact-content{flex-direction: column;display: block;}
    .immagine-sfondo-cu .card-cu {padding: 6% !important;}
    

}


/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 


}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}