.links{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;
    max-width: 70vh;
    margin-top: 20%;
    color:  #4462C9 !important;
}

.links:hover {
    color:  #4462C9;
    text-decoration: none !important;
  }
  

.lastwrite-sx{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
}

.lastwrite-dx{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    max-width: 70vh;
    position: relative;
    right: 0%;
    text-align: right;
}

.legal{
    position: relative;
    display: flex;
    justify-content: center;
    /*width: 70vw!important; */
    /* margin: 0% 0px 20px; */
    width: 100vw !important;
}

.legal .footer{padding: 0px 5% 2% 0px !important;}

.legal > .row > .col > .links{
    color: #767676;
}

.menu-footer{
    padding: 2%  !important;
    text-align: center;
    width: 100vw!important;
    position: relative;
}

.lastwrite-dx {
    color: #767676 !important;
    text-decoration: none !important;
}

.lastwrite-dx, .paltolab:hover {
    color:  #4462C9;
    text-decoration: none !important;
}


.footer{
    width: 100vw !important;
    padding: 0px 5% 2% 0px;
    /* padding: 5%; */
    text-align: center;
}


.social {
    /*width: 100vw !important;*/
    margin-bottom: 2%; 
    text-align: center;
}


/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSectio .vector-svg {
        height: auto !important;
    }


}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSectio .vector-svg {
        height: auto !important;
    }



}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSectio .vector-svg {
        height: auto !important;
    }

    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

    .social .col-1 {padding: 0px 13% 0px 0px;}



}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    
    .secondSectio .vector-svg {
        height: auto !important;
    }

    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}


}
    
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSection .vector-svg {
        height: auto !important;
    }

}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .title{text-align: center;}
    
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }

    .section2{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .secondSection .vector-svg{height: auto !important;}
    .vectors-svg{max-width: 100% !important;}
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .vector-svg {
        height: auto !important;
    }

}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSection .vector-svg {
        height: auto !important;
    }

}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSection .vector-svg {
        height: auto !important;
    }

}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 
    .secondSection {
        position: relative;
        display: flex !important;
        height: 800px !important;
        justify-content: center;
    }
    .secondSection .vector-svg {
        height: auto !important;
    }

}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

}


/* Google Pixel 2*/
@media screen and (device-width: 412px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: portrait) {
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important; 
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

}


/* Google Nexus 6 12  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) and (-webkit-device-pixel-ratio : 3) { 
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .legal div .col .links{
      
    }

    .social{width: 100vw !important;
            justify-content: center;
            /*margin: auto !important;*/
    }
    .social .col-1{
        margin: 5%;
    padding: 0px 11% 0px 0px;
    justify-content: center;
    }

    .lastwrite-dx{
        /*width: 100vw;*/
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

}


/* Google Pixel 2 XL  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) and (-webkit-device-pixel-ratio : 3) { 
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .social{width: 100vw !important;justify-content: center;}

    .lastwrite-dx{
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    .footer-center .social {margin: auto;}

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}

}



/* Google Pixel 2 XL Media Query */
@media
  only screen and (-webkit-min-device-pixel-ratio: 3.5),
  only screen and (   min--moz-device-pixel-ratio: 3.5),
  only screen and (     -o-min-device-pixel-ratio: 3.5/1),
  only screen and (        min-device-pixel-ratio: 3.5),
  only screen and (                min-resolution: 538dpi),
  only screen and (                min-resolution: 3.5dppx) { 


    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .social{width: 100vw !important;justify-content: center;}
    .social .col-1{padding: 11%;}

    .lastwrite-dx{
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    /*.footer-center .social {margin: auto;}*/

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}
   
}

/* Google Pixel Retina 3x Media Query */
@media
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 384dpi),
  only screen and (                min-resolution: 3dppx) { 
    
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .social{width: 100vw !important;justify-content: center;}
    .social .col-1{padding: 11%;}

    .lastwrite-dx{
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    /*.footer-center .social {margin: auto;}*/

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}


}



@media only screen and (min-width: 411px) and (max-width: 731px) {
    .menu-footer{
        text-align: center;
        width: 100%!important;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        text-align: center;
        margin: auto !important;
    }

    .footer {flex-direction: column;}
    .footer .col{padding: 7%; margin-bottom: 3%;}
    .footer-center{
        background: #fff !important;
    }

    .menu-footer .col-1{
        margin-top: 4% !important;
        justify-content: center;
        margin: auto;
        max-width: 100% !important;
    }

    .menu-footer .col-1 .links{font-size: 12px !important;}
    .menu-footer {text-align: center; width: 100%!important;}

    .legal {
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto !important;
    }

    .social{width: 100vw !important;justify-content: center;}
    .social .col-1{padding: 11%;}

    .lastwrite-dx{
        margin-top: 3%;
        font-size: 20px;
        text-align: center;
    }
    .paltolab{
        width: 100vw;
        margin-top: 3%;
        font-size: 15px;
    }

    .legal .footer {padding: 0px 0% 0% 0px !important;}
    /*.footer-center .social {margin: auto;}*/

    .sfondo-vector .last-img {width: 0 !important;}
    .last-img {min-width: 44vh;}
}


/* iphone XR 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
   .social .col-1 {padding: 0%;}
   .footer-center .social {margin: 0px;}
   .social .icons a img{width: 30px;}
}