.hero-text{padding: 7% 6% 0 8.5% !important;}

.hero-text a .btn{
    width: 300px;
    height: 50px;
    background-image: linear-gradient(#F45293, #4462C9);
    border-radius: 12px;
    margin-top: 5%;
}

.hero-text a .btn:hover{background-image: linear-gradient(#FF5A83, #FF7647);}

.days{
    font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
    margin-left: 16%;
    overflow-y: hidden !important;
}
.days bold{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.app{color: #000000 !important;}

.firsttitle{
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.2;
    overflow-y: hidden !important;
}

.firstpar{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin-top: 5%;
}

.gradient-btn{
    font-size: 17px!important;
    font-style: normal;
    font-weight: bold!important;
    width: 100%;
    line-height: 2;
}

.first-img{width:80%;height:auto;}

.middletitle {
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 7% !important;
    margin-bottom: 5%;
    color: #fff;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.conttitle{
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    overflow: hidden;
}

.contpar{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    padding:2%;
    margin-bottom: 5%;
    padding: 2% 0 0 0;
}

.sfondo-vector{
    background: url("../images/Background/pattern-section-phones.svg") no-repeat;
    background-size:cover;
    padding:5%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    padding-bottom: 17%;
    margin-bottom: 5%;
}

.last-img{
   /*  width:50%; */
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 50vh;
}

.try{
    border-radius: 12px !important;
    width: 250px!important;
    padding: 5%!important;
    line-height: 2.6 !important;
}

.btnTitle {
    font-size: 20px!important;
    font-style: normal;
    font-weight: bold !important;
    letter-spacing: 0px;
    color: white;
    line-height: 1.9;
    height: 36px;
    overflow-y: hidden !important;
}

.btn {
    border: solid #ffffff 0px !important;
}

/* greyarea */
.greyarea > center > div .details {
    font-weight: 900 !important;
    margin: 2%;
    margin-bottom: 10%;
    margin-top: 10%!important;
}
.greyarea row{margin: auto;}

.section1{padding: 8% !important;display: block;}

.first-img{margin-left: 6% !important;}


.section2{padding: 8% !important;display: block;}

.end-title{margin-bottom: 5%;overflow-y: hidden !important;}

.informa, .affascina, .attiva-clienti{padding-bottom: 10%;}
.help{flex-direction: column !important;}
.create-app{text-align: center; overflow-y: hidden !important;}
.col{overflow-y: hidden !important;}



/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 
    .hero-text a .btn {width: 200px;}
    .days {margin-left: 0px!important;}
    .informa .col-2{padding: 0px; display: flex;}
    .affascina .col-2{padding: 0px;display: flex;}
    .attiva-clienti .col-2{padding: 0px; display: flex;}
    .days bold{font-size: 15px;}

}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .days {margin-left: 0px!important;}
    .informa .col-2{padding: 0px;}
    .affascina .col-2{padding: 0px;}
    .attiva-clienti .col-2{padding: 0px;}
  }

/* iphone 6+, 6s+, 7+, 8+  */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
    .last-img{
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
    }
    .steps{justify-content: center !important;}
    .hero-text {padding: 0% 5% 0 5.5% !important;}
    .days {margin-left: 0px!important;}
}



/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .hero-text {padding: 0% 5% 0 5.5% !important;    text-align: center;}
    .sfondo-vector .help{flex-direction: column !important;}
    .sfondo-vector .last-img{width: auto !important;}
    .legal .footer{padding: 0px 0% 2% 0px !important;}
    .create-app{font-size: 20px;}
    .informa .col-2{padding: 0!important;}
    .affascina .col-2{padding: 0!important;}
    .attiva-clienti .col-2{padding: 0!important;}


} 
 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .create-app{font-size: 20px;}
    .last-img {width: 0px;}

}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .informa .col-2{padding: 0!important;}
    .affascina .col-2{padding: 0!important;}
    .attiva-clienti .col-2{padding: 0!important;}

}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}


/* Google Pixel 2*/
@media screen and (device-width: 412px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 3.5) and (orientation: portrait) {

}


/* Google Nexus 6 12  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) and (-webkit-device-pixel-ratio : 3) { 
    .informa .col-2{padding: 0!important;}
    .affascina .col-2{padding: 0!important;}
    .attiva-clienti .col-2{padding: 0!important;}
    .sfondo-vector .last-img{width: 0vw !important;}
}

/* Google Nexus 6 12  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) and (-webkit-device-pixel-ratio : 4) { 
    .section2  .informa .col-2{padding: 0px!important;}
    .section2 .affascina .col-2{padding: 0px!important;}
    .section2  .attiva-clienti .col-2{padding: 0px!important;}

    .sfondo-vector .last-img{
        width: 0vw !important;
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
    }
}

/* Galaxy S6, S7, S7 Edge */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) {
    .last-img{
        width: 50vw;
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
    }
}

/* Galaxy S6, S7, S7 Edge */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) {
.informa .col-2{padding: 0!important;}
    .affascina .col-2{padding: 0!important;}
    .attiva-clienti .col-2{padding: 0!important;}

    .last-img{
        width: 50vw;
        background-repeat: no-repeat, repeat;
        background-position: center;
        background-size: cover;
        width: auto;
        height: auto;
    }
}



/* iphone XR 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {

   .informa .col-2{padding: 0px;}
   .affascina .col-2{padding: 0px;}
   .attiva-clienti .col-2{padding: 0px;}
   .rectangle-104 {height: auto;}

   .days {margin-left: 0%;}
   .social .col-1 {padding: 0%;}
}




@media only screen and (min-device-width: 1440px) and (orientation: portrait) { 
    .creappa-ti-esign-9917 {
        padding-bottom: 0%;
        padding-left: 0%;
        margin: 1%;
        padding-right: 15%;
    }


 }
