@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Seymour+One&display=swap');

.sfondo-svg{
    background-image: url("../images/Background/hero-banner-howto.svg");
    background-size: cover;
    margin-bottom: 4%;
}

.title{
    color: white;
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 41%;
    overflow: hidden;
    padding-left: 12%;
}
/*
.mainP {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    letter-spacing: 0px;
    text-align: center;
}*/

.mainP {
    letter-spacing: 0px;
    text-align: center;
    margin: auto;
}

.modules-svg{width: 100%;height: auto;}
.smartphone-drawing-2 {width: 100%}

.cont-title{
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin:2%;
    padding-top: 20%;
    overflow: hidden;
}

.cont-par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    padding-bottom: 10%;
}

.end-par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    padding-bottom: 5%;
}

.greyarea{
    background-color: #F5F5F5;
    justify-content: center !important;
    padding: 5%;
}

.gradient-btn {
    background-image: linear-gradient(#F45293, #4462C9);
    border-style: hidden;
    padding: 2%;
    width: 250px !important;
}



.end-title{
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin:2%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

.icon{
    background-color: white;
    border-radius: 80%;
    padding: 5%;
}

.details{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    padding-bottom: 10%;
}

.btnTitle{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 17px!important;
    font-style: normal;
    font-weight: bold!important;
    width: 100%;
    line-height: 1.9;
    color: white;
    height: 28px;
}

/* Qr code section */
.create-template .qr-box{flex-direction: row;}
.cont-title-qr {
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 2%;
    padding-top: 10%;
    overflow: hidden;
}

.qr-code{width: 130px;}
.create-template-img{padding-top: 10%;}
.custom-app{margin-top: 5%;}
.custom-app .cont-title{margin-right: 20%;}
.custom-app .cont-par{margin-right: 20%;}
.create-template{padding: 8% 6% !important;}
.create-template .cont-par{padding-right: 21%;}
.paltolab{color: #4462C9;}



/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .gradient-btn {
        background-image: linear-gradient(#F45293, #4462C9);
        border-style: hidden;
        padding: 2%;
        width: 100% !important;
        margin-bottom: 8%;
    }

}


/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .create-template{padding: 4% !important;}
    .custom-app .cont-par {margin-right: 0%;}
    .create-template .cont-par {padding-right: 0%;}
    .cont-title {padding-top: 0%;}
    .title {padding-left: 0%;}
    .social .col-1{padding: 0px 12% 0px 0px!important;}
    .title {margin-top: 10%;padding-top: 14%;}
}

@media (min-width: 1200px) {
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 84vw !important;}
}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 


}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}