.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 1.2em;
    background-color:rgba(245, 245, 245, 0.672);
}


.signup-container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 1.2em;
    background-color: rgba(245, 245, 245, 0.672)
}

.immagine-sfondo-login{
    background: url("../images/old_img/login.png");
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.immagine-sfondo-signup{
    background: url("../images/old_img/signup.png");
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height:max-content;
}

.submit-button{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    border-radius: 1.0em;
    box-sizing: content-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.submit-button-signup:hover{border-color: #27a8f2;margin: auto}
.submit-button-login:hover{border-color: #27a8f2;margin: auto}
.center {text-align: center;margin: auto;width: 50%;padding: 10px;}
/* Logo  */
.content-logo{left: 7%;top: 3% !important;}
.submit-button-div {width: 100%;text-align: center;}
.margini{padding: 5%;}
.account-message{text-decoration-color: rgb(39, 112, 137);font-family: Roboto;font-size: 5000;}
.account-button{
    padding-left: 1%;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:bold;
    color: rgb(60, 170, 207);
    text-align:center;
    transition: all 0.2s;
}

.account-button:hover{color: rgb(29, 82, 99);}
.content-signup{
    background: #fff;
    border-radius: 12px;
    padding: 10%;
    box-shadow: 10px 10px 35px rgba(98, 97, 97, 0.25);
    overflow-y: hidden !important;
    z-index: 500000000;
}

.email-input{overflow: hidden;}
.content-signup form{
    padding-left: 15% !important;
    padding-right: 15% !important;
    /*margin-top: 5%;*/
}

form .form-row{padding: 2%;}
/*.card{margin-bottom: 10%;}*/
.form-row input{padding: 2%;font-family: "Sofia Pro-Light", Helvetica, Arial, serif; font-size: 13px;}


/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .immagine-sfondo-na .blocco .content-login {margin-bottom: 0%;}

}
    

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .immagine-sfondo-na .blocco .content-login {margin-bottom: 0%;}
    .immagine-sfondo-na .card {height: 100%!important;}
    .immagine-sfondo-na .card {
        width: 103vw !important;
        background: transparent !important;
    }
}

 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .immagine-sfondo-na .card {
        min-width: 50vw;
        background-color: transparent !important;
        border: 0px !important;
        padding: 13%;
    }
    .lost-psw .cardcont{font-size: 9px!important;right: 21% !important;position: relative;}
    .lost-psw .cardcont {width: 76vw!important;}
    .card{padding: 0px !important;}
    .secondSection {height: 93vh !important;}
    .rectangle-104 a{margin: auto;}
    .rectangle-104 .col{padding-bottom: 10% !important;}
    .rectangle-104 .col a{display: flex;justify-content: center;}
    .text-accordion{padding-left: 12%;}
    }

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 4) { 
    .immagine-sfondo-na .card {
        min-width: 50vw;
        background-color: transparent !important;
        border: 0px !important;
        padding: 13%;
    }
    .lost-psw .cardcont{font-size: 9px!important;right: 21% !important;position: relative;}
    .lost-psw .cardcont {width: 76vw!important;}
    .card{padding: 0px !important;}
    /*.secondSection .vector-svg {height: 0px  !important; }*/
    .secondSection {height: 93vh !important;}
    .rectangle-104 .col{padding-bottom: 10% !important;}
    .rectangle-104 a{margin: auto;}
    
}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .immagine-sfondo-na .blocco .content-login {margin-bottom: 0%;}
    .immagine-sfondo-na .card {height: 110%!important;}
    .login{margin-bottom: 66%;}
    .blocco {margin-top: 0px;}
    .immagine-sfondo-na .card { height: 100%!important;}
    .card{padding: 0px !important;}
    

}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}



