@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Sofia Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SofiaPro-Regular") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/SofiaPro-Light") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/SofiaPro-SemiBold") format("opentype");
}

.manage-section{
  padding: 30px;
  background-color: white;
  box-shadow: 5px 0 5px -2px #888;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  width: 300px;
}

.manage-icon{
  display: inline-block;
  margin-right: 20px;
}

.manage-section-title1{
  color: rgb(167, 167, 167)
}

.installati-title{
  color: rgb(167, 167, 167)
}

.aggiungi-title{
  color: rgb(167, 167, 167)
}

.moduli-container{
  width: 100%;
  transition: 0.4s;
  border-radius: 0.8em;
}

.moduli-container:hover{
  color:white;
  background-image: linear-gradient(#FF5A83, #FF7647);
}

.dditem:hover{
  background-color: rgb(218, 218, 218);
}