.immagine-sfondo-mission{
    background: url("../images/mission.png") no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
}


li {
    list-style-type: none;
    margin-top:20px;
    font-weight: bold;
}

.informazioni{
    margin: 5%;
}

.gradient-btn .btn .btn-light{
    background-image: linear-gradient(#F45293, #4462C9);
    border-style: hidden;
    padding: 1% 4%!important;
}

.container-fluid > .rectangle-104 > .col > a > .btn > .btnTitle{
    font-weight: bold !important;
}

.btn-contact{
    width: 0% !important;
  }

.our-plat{
    width: 100%;
}




/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 
    .rectangle-104 {height: auto;}


}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 
    .rectangle-104 {height: auto;}

}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 
    .rectangle-104 {height: auto;}

}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .rectangle-104 {height: auto;}

}
    

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .rectangle-104 {height: auto;}
    .footer-center .social {width: 0vw !important;}
}

 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 
    .rectangle-104 {height: auto;}

}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .rectangle-104 {height: auto;}
    .rectangle-106 .col .crea-la-tu-vita-45244 {font-size: 40px!important;}
    .rectangle-106{padding: 0px !important;}
}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .rectangle-104 {height: auto;}

}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 
    .rectangle-104 {height: auto;}
    .rectangle-106 .col .crea-la-tu-vita-45244 {font-size: 40px!important;}
    .card{padding: 0px !important;}

}


/* iphone XR 1792x828px at 326ppi */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) {
   .rectangle-104 {height: auto;}
   .rectangle-106 .col .crea-la-tu-vita-45244 {font-size: 40px!important;}
    .rectangle-106{padding: 0px !important;}
    .accordion .card {margin-bottom: 0%;}
}