.immagine-sfondo-pa{
    background: url("../images/old_img/toprightshape.png");
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

.contenitore-cards{
    width: 80%;
    height: 100%;
    margin-top: 5%;
    margin-left:10%
}

.add-button{
    z-index: 1;
    height: 5%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 2%;
}

.loading{
    text-align: center;
    width: 100%;
}


.not-pay-advise-div{
    margin:5%;
    align-content: center;
}

.app-info{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 12px;
}

.app-name{
    font-weight: 100;
}

.app-creation-date-label{
    color:rgb(145, 145, 145);
    margin-top: 16%
}

.app-creation-date{
    color:rgb(179, 179, 179);
    margin-left: 4%;
}

.app-card-footer{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    color: rgb(161, 161, 161);
}

.app-card-footer:hover{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    color:#FF5A83;
}


.app-card-footer-btn{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    color: rgb(161, 161, 161);
    background-color: transparent;
    border: 0px
}

.app-card-footer-btn:disabled{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    background-color: transparent;
}

.app-card-footer-btn:hover{
    color: #FF5A83;
    background-color: transparent;
}

.app-card-footer-btn:disabled:hover{
    color:red
}


