body > #root > div {
    height: 100%;
   margin: 0;
   overflow: hidden;
  }
.user-spaziatura{margin-left:10px;}

.sidenavbar{
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
    min-height: calc(100vh - 50px);
}

.item-sidenavbar{
    margin-left:25px;
    font-weight: 100;
    margin-top:10px;
    list-style-type:circle;
    outline: none;
    color:rgba(255, 255, 255, 0.5);
}

.item-sidenavbar:focus{outline:none;}
.item-sidenavbar:hover{color:#FFF;}
.componente-sidenavbar:hover{color:#FFF;}

.componente-sidenavbar{
    font-weight: 100;
    margin-top:5px;
    margin-left:40px;
    outline: none;
    color:rgba(255, 255, 255, 0.5);
}

.modal-margin{margin-top:15%}
.navbar-item-deck{padding:5%;min-width: max-content;}

.share-button{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    box-sizing: content-box;
    color:#74d691;
    transition: all 0.2s;
    background-color: transparent;
    border-color: #74d691;
}

.share-button:hover{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    box-sizing: content-box;
    color:#f8f8f8;
    transition: all 0.2s;
    background-color: #74d691;
    border-color: #62b97c;
}

.text-hover:hover{transition: all 0.2s;color: #74d691;}
.text-hover:focus{transition: all 0.2s;color: #74d691;}
.text-hover:active{transition: all 0.2s;color: #74d691;}