a{font-size: 1em;}
.navbar{background-color: #ffffff;}
.navbar-item-font-family{
    font-family: Arial, Helvetica, sans-serif;
    margin-right:20px;
    margin-left: 20px;
    position: relative;
}
.login-button{border-radius:30px;}
.navbar-spacing{margin-top:1%;}
.bottone-blu{background-color:blue;}
.item-nero{color: #000;}
.contatti{padding-right: 2%;}
.info{margin-right: 2%;text-align: end;width:100%}