@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Sofia Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SofiaPro-Regular") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/SofiaPro-Light") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/SofiaPro-SemiBold") format("opentype");
}

.border-class-2 {
  border: 1.5px solid var(--mist-gray);
}

.abbiamo-cr-genze-9752 {
  letter-spacing: 0px;
  margin:2%;
}

.mission-page .accedi-89515 {
  background-color: transparent;
  color: var(--indigo);
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 1103px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 31px;
  width: 84px;
}

.alcune-cos-pere-61814 {
  letter-spacing: 0px;
  margin:2%;
  margin-left: 5%;
}

.mission-page .android-8-1 {
  background-color: transparent;
  height: 50px;
  left: 89px;
  position: absolute;
  top: 2538px;
  width: 50px;
}
.mission-page .caratteris-che-895134 {
  background-color: transparent;
  height: auto;
  left: 522px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2559px;
  width: 105px;
}
.mission-page .caratteris-iche-89518 {
  background-color: transparent;
  height: auto;
  left: 733px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 104px;
}
.mission-page .close-3 {
  top: 2282px;
}
.mission-page .close-4 {
  background-color: transparent;
  height: 5px;
  left: 477px;
  overflow: hidden;
  position: absolute;
  top: 2323px;
  transform: rotate(45deg);
  width: 5px;
}
.mission-page .close-5 {
  top: 2365px;
}
.mission-page .close-6 {
  top: 2408px;
}

.con-la-nos-ita-487354 {
  margin-left: 18%;
  margin-right: 18%;
  /* */
  margin-bottom: 10%;
  margin-top: 5%;
  letter-spacing: 0px;
  text-align: center;
}

.mission-page .contattaci-7087 {
  background-color: transparent;
  color: white;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 681px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 2393px;
  width: auto;
}
.mission-page .contatti-895136 {
  background-color: transparent;
  height: auto;
  left: 760px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2559px;
  width: 58px;
}
.mission-page .cookie-policy-895140 {
  background-color: transparent;
  height: auto;
  left: 533px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2697px;
  width: 94px;
}
.mission-page .cosa-succe-rova-62632 {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 2399px;
  width: auto;
}

.crea-la-tu-vita-45244 {
  color: white;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  margin-top: 45%;
  margin-left: 10%;
  overflow-y: hidden !important;
  padding: 2%;
}

.creappa-ti-esign-9917 {
  color: var(--gray);
  font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
  margin:2%;
  /* padding-bottom: 10%; */
  padding-left: 7%;
  margin: 5% 18% 6% 2%;
}

.gradient-btn{
  background-image: linear-gradient(#F45293, #4462C9);
  border-style: hidden;
  padding:2%;
  transition: all 0.4s;
}

.gradient-btn:hover{background-image: linear-gradient(#FF5A83, #FF7647);}

.mission-page .designed-b-srl-895138 {
  background-color: transparent;
  height: auto;
  left: 1048px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2701px;
  width: 155px;
}

.mission-page .down-arrow-1 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 14px;
  justify-content: flex-start;
  left: 1172px;
  padding: 1.2px 0;
  position: absolute;
  top: 2565px;
  transform: rotate(-180deg);
  width: 14px;
}
.mission-page .ellipse-64 {
  background-color: transparent;
  height: 15px;
  left: 472px;
  position: absolute;
  top: 2277px;
  width: 15px;
}
.mission-page .ellipse-65 {
  background-color: transparent;
  height: 15px;
  left: 472px;
  position: absolute;
  top: 2318px;
  width: 15px;
}
.mission-page .ellipse-66 {
  background-color: transparent;
  height: 15px;
  left: 472px;
  position: absolute;
  top: 2360px;
  width: 15px;
}
.mission-page .ellipse-67 {
  background-color: transparent;
  height: 15px;
  left: 472px;
  position: absolute;
  top: 2403px;
  width: 15px;
}
.mission-page .facebook-icon-1 {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 42px;
  justify-content: flex-start;
  left: 502px;
  padding: 1.7px 1.7px;
  position: absolute;
  top: 2623px;
  width: 42px;
}

.faq-61812 {
  height: auto;
  letter-spacing: 0px;
  margin:2%;
  margin-left: 5%;
}
.mission-page .faq-9918 {
  background-color: transparent;
  height: auto;
  left: 844px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2697px;
  width: 39px;
}
.mission-page .footer-box {
  background-color: transparent;
  height: 258px;
  left: 0px;
  position: absolute;
  top: 2502px;
  width: 1281px;
}
.mission-page .frame {
  background-color: transparent;
  flex-shrink: 0;
  height: 39px;
  position: relative;
  width: 39px;
}
.mission-page .group {
  background-color: transparent;
  height: 314px;
  left: 49px;
  position: absolute;
  top: 36px;
  width: 465px;
}

.hai-ancora-ande-48745 {
  letter-spacing: 0px;
  /* margin:2%; */
  margin-left: 0% !important;
 }

.il-team-di-liqua-9250 {
  letter-spacing: 0px;
  margin:2%;
  padding-right: 21%;
  /* */
  margin: 5% 0% 6% 2%;
}

.mission-page .instagram-2 {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 42px;
  justify-content: flex-start;
  left: 733px;
  padding: 1.7px 1.7px;
  position: absolute;
  top: 2623px;
  width: 42px;
}
.mission-page .instagram-3 {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 42px;
  justify-content: flex-start;
  left: 579px;
  padding: 1.7px 1.7px;
  position: absolute;
  top: 2623px;
  width: 42px;
}
.mission-page .italiano-895123 {
  background-color: transparent;
  color: white;
  font-family: "Work Sans-Medium", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1108px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2564px;
  width: 54px;
}
.mission-page .italy-1 {
  align-items: flex-start;
  background-color: transparent;
  background-size: 100% 100%;
  display: inline-flex;
  flex-direction: row;
  height: 15px;
  justify-content: flex-start;
  left: 1081px;
  overflow: hidden;
  padding: 0.5px 0;
  position: absolute;
  top: 2565px;
  width: 15px;
}
.mission-page .logo {
  background-color: transparent;
  height: 40px;
  left: 80px;
  position: absolute;
  top: 20px;
  width: 40px;
}
.mission-page .mission-895133 {
  background-color: transparent;
  height: auto;
  left: 423px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2559px;
  width: 58px;
}
.mission-page .mission-89517 {
  background-color: transparent;
  height: auto;
  left: 628px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 58px;
}

.non-hai-tr-menti-7084 {
  color: var(--gray);
  font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 2.1px;
  text-align: left;
  margin: 5% 0px;
  padding-right: 25%;
  /* */
}

.mission-page .prezzi-895135 {
  background-color: transparent;
  height: auto;
  left: 670px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2559px;
  width: 47px;
}
.mission-page .prezzi-89519 {
  background-color: transparent;
  height: auto;
  left: 883px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 47px;
}
.mission-page .privacy-po-icy-895139 {
  background-color: transparent;
  height: auto;
  left: 400px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2697px;
  width: 97px;
}
.mission-page .quando-e-c-armi-62631 {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 2357px;
  width: auto;
}

.mission-page .rectangle-103 {
  background-color: transparent;
  height: 420px;
  left: 0px;
  position: absolute;
  top: 2462px;
  width: 1281px;
}

.rectangle-104 {
  background-color: whitesmoke;
 /* height: 500px;*/
  height: auto;
  padding-top: 2%;
}

.rectangle-106 {
  background-image: url("../images/Background/rectangle-106@1x.svg");
  background-size: cover;
  padding: 0px 4% 0px 6%;
}

.mission-page .rectangle-12 {
  background-color: var(--sonic-silver);
  border-radius: 20px;
  height: 39px;
  left: 1063px;
  position: absolute;
  top: 2553px;
  width: 138px;
}
.mission-page .rectangle-2 {
  background-color: transparent;
  height: 37px;
  left: 1087px;
  position: absolute;
  top: 26px;
  width: 113px;
}
.mission-page .rectangle-265 {
  background-color: white;
  border-radius: 12px;
  height: 286px;
  left: 81px;
  position: absolute;
  top: 2146px;
  width: 424px;
}
.mission-page .rectangle-266 {
  background-color: white;
  height: 44px;
  left: 81px;
  position: absolute;
  top: 2262px;
  width: 424px;
}
.mission-page .rectangle-267 {
  background-color: white;
  height: 44px;
  left: 81px;
  position: absolute;
  top: 2304px;
  width: 424px;
}
.mission-page .rectangle-268 {
  background-color: white;
  height: 44px;
  left: 81px;
  position: absolute;
  top: 2346px;
  width: 424px;
}
.mission-page .rectangle-269 {
  background-color: transparent;
  height: 44px;
  left: 81px;
  position: absolute;
  top: 2388px;
  width: 424px;
}
.mission-page .rectangle-270 {
  background-color: transparent;
  height: 37px;
  left: 640px;
  position: absolute;
  top: 2384px;
  width: 160px;
}
.mission-page .rectangle-322 {
  background-color: transparent;
  height: 296px;
  left: 48px;
  position: absolute;
  top: 25px;
  width: 466px;
}

.smartphone-drawing-2 {
  height:auto;
  width: 90%;
  float:right;
  padding:10%;
  padding-bottom: 50%;
  margin-top: 12%;
  /* */
}

.mission-page .supporto-89520 {
  background-color: transparent;
  height: auto;
  left: 977px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 69px;
}

.team-svg {
  height: auto;
  width:100%;
}

.vector-svg{
  background-image: url("../images/Illustrations/success-app.svg");
  background-size: contain;
    background-repeat: no-repeat;
    height: 695px !important;

}

.mission-page .termini-co-oni-895141 {
  background-color: transparent;
  height: auto;
  left: 665px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2697px;
  width: 143px;
}
.mission-page .twitter-1 {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  height: 42px;
  justify-content: flex-start;
  left: 657px;
  padding: 1.7px 1.7px;
  position: absolute;
  top: 2623px;
  width: 42px;
}

.un-team-de-esso-72812 {
  color: var(--cod-gray);
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  margin:2%;
  overflow-y: hidden !important;
}
.mission-page .vector-0UF5xg {
  background-color: transparent;
  height: 19px;
  left: 48px;
  position: absolute;
  top: 7px;
  width: 465px;
}
.mission-page .vector-10 {
  background-color: transparent;
  height: 489px;
  left: 666px;
  position: absolute;
  top: 1482px;
  width: 417px;
}
.mission-page .vector-11 {
  background-color: transparent;
  height: 458px;
  left: 697px;
  position: absolute;
  top: 1494px;
  width: 450px;
}
.mission-page .vector-20P0xb {
  background-color: transparent;
  height: 29px;
  left: 10px;
  position: absolute;
  top: 129px;
  width: 8px;
}
.mission-page .vector-4wYuux {
  background-color: transparent;
  height: 465px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 226px;
}
.mission-page .vector-9MxayI {
  background-color: transparent;
  height: 4px;
  left: 56px;
  position: absolute;
  top: 14px;
  width: 4px;
}
.mission-page .vector-B5ZaGp {
  background-color: transparent;
  height: 8px;
  left: 96px;
  position: absolute;
  top: 35px;
  width: 8px;
}
.mission-page .vector-Cckbxh {
  background-color: transparent;
  height: 310px;
  left: 25px;
  position: absolute;
  top: 58px;
  width: 176px;
}
.mission-page .vector-DIbRb4 {
  background-color: transparent;
  height: 16px;
  left: 10px;
  position: absolute;
  top: 11px;
  width: 19px;
}
.mission-page .vector-DRFQOM {
  background-color: transparent;
  flex-shrink: 0;
  height: 8px;
  width: 14px;
}
.mission-page .vector-H2QaOx {
  background-color: transparent;
  height: 4px;
  left: 64px;
  position: absolute;
  top: 14px;
  width: 6px;
}
.mission-page .vector-JAXqS7 {
  background-color: transparent;
  height: 5px;
  left: 104px;
  position: absolute;
  top: 32px;
  width: 50px;
}
.mission-page .vector-KDO71K {
  background-color: transparent;
  height: 4px;
  left: 73px;
  position: absolute;
  top: 14px;
  width: 4px;
}
.mission-page .vector-KMITmx {
  background-color: transparent;
  height: 21px;
  left: 13px;
  position: absolute;
  top: 67px;
  width: 9px;
}
.mission-page .vector-Lpgtn4 {
  background-color: transparent;
  height: 21px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 17px;
}
.mission-page .vector-Ni8950 {
  background-color: transparent;
  height: 5px;
  left: -0px;
  position: absolute;
  top: 0px;
  transform: rotate(-45deg);
  width: 5px;
}
.mission-page .vector-Pe9NmC {
  background-color: transparent;
  flex-shrink: 0;
  height: 14px;
  width: 5px;
}
.mission-page .vector-QHMqHN {
  background-color: transparent;
  height: 23px;
  left: 12px;
  position: absolute;
  top: 66px;
  width: 9px;
}
.mission-page .vector-Qopx5Q {
  background-color: transparent;
  height: 440px;
  left: 28px;
  position: absolute;
  top: 24px;
  width: 199px;
}
.mission-page .vector-SWsGFF {
  background-color: transparent;
  height: 26px;
  left: 100px;
  position: absolute;
  top: 380px;
  width: 27px;
}
.mission-page .vector-Uskkdu {
  background-color: transparent;
  height: 20px;
  left: 15px;
  position: absolute;
  top: 9px;
  width: 9px;
}
.mission-page .vector-Va7wkn {
  background-color: transparent;
  height: 20px;
  left: 10px;
  position: absolute;
  top: 58px;
  width: 8px;
}
.mission-page .vector-YS1seh {
  background-color: transparent;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 39px;
}
.mission-page .vector-Yt85g1 {
  background-color: transparent;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 130px;
  width: 8px;
}
.mission-page .vector-aJf4NH {
  background-color: transparent;
  height: 410px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 203px;
}
.mission-page .vector-fJbab8 {
  background-color: transparent;
  height: 30px;
  left: 112px;
  position: absolute;
  top: 433px;
  width: 30px;
}
.mission-page .vector-fpXc59 {
  background-color: transparent;
  height: 33px;
  left: 12px;
  position: absolute;
  top: 107px;
  width: 9px;
}
.mission-page .vector-g6fKYa {
  background-color: transparent;
  height: 7px;
  left: 86px;
  position: absolute;
  top: 31px;
  width: 7px;
}
.mission-page .vector-hRPOqe {
  background-color: transparent;
  flex-shrink: 0;
  height: 14px;
  margin-left: 5px;
  width: 5px;
}
.mission-page .vector-lrzq5P {
  background-color: transparent;
  height: 467px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 228px;
}
.mission-page .vector-m4ymTu {
  background-color: transparent;
  height: 30px;
  left: 13px;
  position: absolute;
  top: 148px;
  width: 9px;
}
.mission-page .vector-mawwKb {
  background-color: transparent;
  height: 19px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 19px;
}
.mission-page .vector-npoicc {
  background-color: transparent;
  height: 30px;
  left: 13px;
  position: absolute;
  top: 109px;
  width: 9px;
}
.mission-page .vector-oWHnJd {
  background-color: transparent;
  height: 6px;
  left: 117px;
  position: absolute;
  top: 36px;
  width: 56px;
}
.mission-page .vector-q9GSQQ {
  background-color: transparent;
  height: 29px;
  left: 10px;
  position: absolute;
  top: 94px;
  width: 8px;
}
.mission-page .vector-qbihsf {
  background-color: transparent;
  height: 26px;
  left: 11px;
  position: absolute;
  top: 95px;
  width: 8px;
}
.mission-page .vector-uJxPmS {
  background-color: transparent;
  height: 33px;
  left: 12px;
  position: absolute;
  top: 147px;
  width: 9px;
}
.mission-page .vector-upcCUs {
  background-color: transparent;
  height: 408px;
  left: 13px;
  position: absolute;
  top: 9px;
  width: 201px;
}
.mission-page .vector-vGYT2x {
  background-color: transparent;
  height: 18px;
  left: 11px;
  position: absolute;
  top: 59px;
  width: 8px;
}
.mission-page .vector-xMvDTx {
  background-color: transparent;
  height: 4px;
  left: 21px;
  position: absolute;
  top: 23px;
  width: 4px;
}
.mission-page .x2020-creap-ati-895137 {
  background-color: transparent;
  height: auto;
  left: 80px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 2701px;
  width: 271px;
}
.sofiapro-light-black-25px {
  color: black;
  font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}
.sofiapro-light-gray-13px {
  color: var(--gray);
  font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
}
.sofiapro-light-stack-17px {
  color: var(--stack);
  font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
.sofiapro-regular-normal-black-15px {
  color: black;
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2;
}
.sofiapro-regular-normal-black-30px {
  color: black;
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 30px;
  /* */
  font-weight: bold;
  margin-left: 9%;
  overflow-y: hidden !important;
}
.sofiapro-regular-normal-gray-12px {
  color: var(--gray);
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.sofiapro-regular-normal-gray-15px {
  color: var(--gray);
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.sofiapro-regular-normal-gray-20px {
  color: var(--gray);
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  overflow-y: hidden !important;
}
.sofiapro-regular-normal-indigo-15px {
  color: var(--indigo);
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.sofiapro-semi-bold-black-30px {
  color: black;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  overflow-y: hidden !important;
}
:root {
  --cod-gray: rgba(12, 12, 12, 1);
  --gray: rgba(126, 126, 126, 1);
  --indigo: rgba(68, 98, 201, 1);
  --mist-gray: rgba(196, 196, 196, 1);
  --sonic-silver: rgba(115, 115, 115, 1);
  --stack: rgba(142, 142, 142, 1);
}


.low-cost{
  padding-top: 10%;
}

.secondSection{
  position: relative;
  display: flex;
  height: 680px !important;
  overflow: hidden;
}

.content-second-section{
  margin-top: 14%;
}

.content-second-section {margin-top: 10%;}
.btn-contact{
  width: 35%;
}


.our-plat{
  /*margin-bottom: 6%;*/
}

.accordion{
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
}

/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 
  .btn-contact{
    width: 100% !important;
  }


}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 
  .btn-contact{
    width: 100% !important;
  }

}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {

  .btn-contact{ width: 100% !important;}
  .secondSection {
    position: relative;
    display: flex;
    height: 133vh !important;
    overflow: hidden;
  }

  .sofiapro-regular-normal-black-30px {margin-left: 2%}
  .creappa-ti-esign-9917 {padding-bottom: 0%;padding-left: 0%; margin: 1%;}
  .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 0% 6% 2%;}
  .crea-la-tu-vita-45244 {font-size: 38px;}

}


/* iPhone 5s  */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2dppx) { 
    
  .btn-contact{ width: 100% !important;}
  .secondSection {
    position: relative;
    display: flex;
    height: 133vh !important;
    overflow: hidden;
  }
  .sofiapro-regular-normal-black-30px {margin-left: 2%}
  .creappa-ti-esign-9917 {padding-bottom: 0%;padding-left: 0%; margin: 1%;}
  .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 0% 6% 2%;}
  .crea-la-tu-vita-45244 {font-size: 38px;}

  .secondSection {
    position: relative;
    display: flex;
    height: 71vh !important;}
  
  

}

/* iPhone 5 SE  */
@media
  only screen and (-webkit-min-device-pixel-ratio: 2.0),
  only screen and (   min--moz-device-pixel-ratio: 2.0),
  only screen and (     -o-min-device-pixel-ratio: 2.0/1),
  only screen and (        min-device-pixel-ratio: 2.0),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2.0dppx) { 
  

  .btn-contact{ width: 100% !important;}
  .secondSection {
    position: relative;
    display: flex;
    height: 133vh !important;
    overflow: hidden;
  }
  .sofiapro-regular-normal-black-30px {margin-left: 2%}
  .creappa-ti-esign-9917 {padding-bottom: 0%;padding-left: 0%; margin: 1%;}
  .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 0% 6% 2%;}
  .crea-la-tu-vita-45244 {font-size: 38px;}

  .secondSection {
    position: relative;
    display: flex;
    height: 71vh !important;}
}
         
   

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
  .btn-contact{ width: 100% !important;}
  .secondSection {
    position: relative;
    display: flex;
    height: 133vh !important;
    overflow: hidden;
  }
  .sofiapro-regular-normal-black-30px {margin-left: 2%}
  .creappa-ti-esign-9917 {padding-bottom: 0%;padding-left: 0%; margin: 1%;}
  .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 0% 6% 2%;}
  .crea-la-tu-vita-45244 {font-size: 38px;}

}
    
    
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
  .btn-contact{ width: 100% !important;}
  .secondSection {
    position: relative;
    display: flex;
    height: 133vh !important;
    overflow: hidden;
  }
}


/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
  .con-la-nos-ita-487354 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
     margin-top: 0px;
  }
  .crea-la-tu-vita-45244 {margin-top: 25%;margin-left: 5%;}
  .smartphone-drawing-2 {
    height: auto;
    width: 107%;
    padding: 10%;
    padding-bottom: 19%;
    margin-top: 12%;
  }  
  .creappa-ti-esign-9917 {margin: 0%; padding-bottom: 0%;padding-left: 0%;}
  .sofiapro-regular-normal-black-30px {margin-left: 0%;}
  .abbiamo-cr-genze-9752 {margin-bottom: 5%;font-size: 28px;}
  .il-team-di-liqua-9250 {padding-right: 0%;}
  .un-team-de-esso-72812 {font-size: 28px;}
  .secondSection .vector-svg {height: 95vw !important;}
  .non-hai-tr-menti-7084 {padding-right: 0%;}
  .btn-contact{width: 100% !important;}

  .sofiapro-regular-normal-black-30px {
    color: black;
    font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
    font-size: 28px !important;
    font-weight: bold;
    margin-left: 0%;
  } 
  .rectangle-104 {padding-bottom: 20px;overflow-y: hidden !important; height: auto;}
  .secondSection .vector-svg {height: 73vw !important;}
  
}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 
  .btn-contact{width: 100% !important;}
  

}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
  .btn-contact{width: 100% !important;}
  .card {margin-bottom: 0%;}
}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
  .btn-contact{width: 100% !important;}
  

}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 
  .btn-contact{width: 100% !important;}


}


/* Macbook pro */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 22% 5% 2%;}
    .content-second-section{padding: 1px 3% 4% 5% !important;}
    .content-second-section {margin-top: 14%;}
    .secondSection {height: auto !important;}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .il-team-di-liqua-9250 {padding-right: 1%;margin: 5% 22% 5% 2%;}
    .content-second-section{padding: 1px 3% 4% 5% !important;}
    .content-second-section {margin-top: 14%;}
    .secondSection {height: auto !important;}


    .immagine-sfondo-price {position: absolute;}
}


/* Nexus */

/* Google Nexus 6 12  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) {

.secondSection .vector-svg{display: none !important;}
.rectangle-104 .non-hai-tr-menti-7084{padding-left: 5%;}
.text-accordion{padding-left: 5%;}

 }



/* Apple iPad Pro */
 @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .secondSection {height: 37vh !important;}
}