.creation-card{
    padding:2%;
    width:fit-content;
    margin-top: 20vh;
    max-width: 100vh;
    display:"block"; 
    margin-left:"auto"; 
    margin-right:"auto"
}

.par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    width:50%;
    text-align: center;
}

.app-form{
    text-align: start;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.app-form-element{
    margin-bottom: 1%;
}

.immagine-sfondo-na{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

.header{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
}


.submit-button-newapp{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 1.0em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.back-button-newapp{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 1.0em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:bold;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.font-dropdown{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    box-sizing: content-box;
    color:#74d691;
    transition: all 0.2s;
    background-color: transparent;
    border-color: #74d691;
}

.font-dropdown:hover{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    box-sizing: content-box;
    color:#f8f8f8;
    transition: all 0.2s;
    background-color: #74d691;
    border-color: #62b97c;
}

.font-dropdown:active{
    display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid #ffffff00;
    box-sizing: content-box;
    color:#f8f8f8;
    transition: all 0.2s;
    background-color: #74d691;
    border-color: #62b97c;
}


.color-box{
    width: 245px;
    height: 20px;
    border-radius: 0.4em;
    border: 0.16em solid #ffffff00;
    border-color:rgb(44, 44, 69);
}

.payment-text{
    margin:2%;
    text-align: start;
}

.uploaded-logo{
    width: 150px;
    margin-bottom: 4%;
}


.single-font{
    color:#4462C9;
    transition: 0.3s;
    width: 300px;
}

.single-font:hover{
    background-color:lightgray
}

.single-font:active{
    color:#F45293
}

.template-app{
    transition: 0.3s;
    width: 80px;

}

.div-img{

    margin-left: 4%;
    margin-right: 5%;
}

.template-app:hover{
    width: 100px;
}

.template-imgs-row{
    margin-top: 4%;
    margin-bottom: 6%;
}