@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Sofia Pro-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/SofiaPro-SemiBold") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SofiaPro-Regular") format("opentype");
}

* {
  box-sizing: border-box;
}
.sofiapro-regular-normal-black-20px {
  color: black;
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.sofiapro-regular-normal-gray-14px {
  color: var(--gray);
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.sofiapro-semi-bold-indigo-11px {
  color: var(--indigo);
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
}
.sofiapro-semi-bold-white-14px {
  color: white;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.upload-logo {
  align-items: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 812px;
  justify-content: flex-start;
  padding: 20px 46px;
  width: 1280px;
}
.upload-logo .android-8-1 {
  background-color: transparent;
  flex-shrink: 0;
  height: 40px;
  margin-left: 34px;
  width: 40px;
}
.upload-logo .auto-flex-C61RwL {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 703px;
  justify-content: flex-start;
  margin-top: 24px;
  min-width: 985px;
  width: auto;
}
.upload-logo .avanti-40338 {
  background-color: transparent;
  height: auto;
  left: 297px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 432px;
  width: 109px;
}
.upload-logo .back-btn {
  align-items: center;
  background-color: transparent;
  background-size: 100% 100%;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 36px;
  justify-content: flex-start;
  margin-bottom: 12.76px;
  min-width: 143px;
  padding: 0 16px;
  width: auto;
}
.upload-logo .carica-il---app-40342 {
  background-color: transparent;
  height: auto;
  left: 202px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 171px;
  width: auto;
}
.upload-logo .group-HWA90F {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 12px;
  justify-content: flex-start;
  margin-left: 0px;
  min-width: 24px;
  width: auto;
}
.upload-logo .group-N4EQ0h {
  background-color: transparent;
  background-size: 100% 100%;
  flex-shrink: 0;
  height: 12px;
  width: 24px;
}
.upload-logo .icon-upload-logo-app {
  background-color: transparent;
  height: 80px;
  left: 311px;
  position: absolute;
  top: 282px;
  width: 80px;
}
.upload-logo .left-arrow-1 {
  align-items: flex-end;
  background-color: transparent;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 24px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 6.2px 0;
  width: 24px;
}
.upload-logo .overlap-group-fhuxN3 {
  background-color: transparent;
  flex-shrink: 0;
  height: 703px;
  margin-left: 99px;
  position: relative;
  width: 742px;
}
.upload-logo .precedente-44537 {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0px;
  margin-left: 14px;
  min-height: 16px;
  text-align: center;
  width: 71px;
}
.upload-logo .rectangle-18 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(98, 97, 97, 0.25);
  height: 392px;
  left: 131px;
  position: absolute;
  top: 126px;
  width: 440px;
}
.upload-logo .rectangle-5 {
  background-color: transparent;
  height: 44px;
  left: 252px;
  position: absolute;
  top: 421px;
  width: 197px;
}
.upload-logo .vector-19 {
  background-color: transparent;
  height: 647px;
  left: 18px;
  position: absolute;
  top: 55px;
  width: 552px;
}
.upload-logo .vector-20 {
  background-color: transparent;
  height: 676px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 742px;
}
.upload-logo .vector-31 {
  background-color: transparent;
  height: 650px;
  left: 32px;
  position: absolute;
  top: 21px;
  width: 554px;
}
.upload-logo .x-puoi-cari-ardi-40341 {
  background-color: transparent;
  height: auto;
  left: 233px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 211px;
  width: 239px;
}
:root {
  --gray: rgba(126, 126, 126, 1);
  --indigo: rgba(68, 98, 201, 1);
}
