.immagine-sfondo-na{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    /*height: max-content;
    min-height: 100%;*/
    height: 100vh !important;
}

.immagine-sfondo-na .logo{
   /* margin-top: 19px !important;
    margin-left: 8.6%;
    position: relative;*/
    display: inline-block;
    overflow: hidden;
}


.immagine-sfondo-na a{
    margin-top: 0px !important;
    margin-left: 8.6%;
    position: relative;
    display: inline-block;
    margin: auto
}

.immagine-sfondo-na .psw-logo{
    left: 7% !important;
    top: 3% !important;
    position: relative;
}

.immagine-sfondo-na .scritta-ghey {
    margin-top: 0px !important;
    margin-left: 2%;
}


.blocco {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 5vh;
    /*margin-bottom: 10vh;*/
    padding-top: 2%;
    /* padding-bottom: 2%; */
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh !important;
}

.bloctitle{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    overflow-y: hidden !important;
}

.cardimg{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-bottom: 5%;
}

.cardcont{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    padding:5%;
    text-align: center;
    max-width: 70vh;
}

.accedi-btn{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    min-width: 100%;
    color:white
}

.scritta-ghey {
    color: "#7D50DE";
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-style: normal;
    font-weight: 600;
    overflow: hidden !important;
    margin-right: 0px !important;
  }

.immagine-sfondo-login .blocco{
    height: 100vh !important;
    width: 20vw; 
    padding-top: 11%;
    background-color: transparent !important;
}

.immagine-sfondo-na .blocco .content-login{
    padding: 15%;
    box-shadow: 10px 10px 35px rgba(98, 97, 97, 0.25);
    border-radius: 12px;
    margin-bottom: 21%;
    overflow-y: hidden !important;
    z-index: 500000000;
    background: #ffff;
}
/*
.immagine-sfondo-na .card{
    min-width: 60vw;
    background-color: transparent !important;
    border: 0px !important;
}*/

.immagine-sfondo-na .card {
    min-width: 50vw;
    background-color: transparent !important;
    border: 0px !important;
    padding: 3%;
}

.immagine-sfondo-login .card{width: 20vw; padding-top: 11%;}
.password-d-ticata-765 {overflow: hidden !important;}
.lost-psw a {overflow: hidden !important;text-decoration: none!important;}
.lost-psw a:hover{overflow: hidden !important;text-decoration: none !important;}
.login-form{padding: 2%;}
.immagine-sfondo-na .accedi-btn{
    margin-top: 8%;
    border-radius: 12px;
    padding: 3%;
}

.immagine-sfondo-na .blocco .content-login .lost-psw{
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    align-items: center;
}

.lost-psw .cardcont {margin-top: 2%; width: 19vw; margin: auto;text-align: center !important;}
.scritta-ghey{line-height: 0.8; margin-left: 2%;}
.email-input {border-radius: 10px;}
.form-row .form-control{border-radius: 10px !important;}

/*.content-logo {position: fixed !important;}*/

/* reset password */
.immagine-sfondo-na .creation-card{
    background: #fff;
    border-radius: 12px;
    padding: 10%;
    box-shadow: 10px 10px 35px rgba(98, 97, 97, 0.25);
    overflow-y: hidden !important;
}

.creation-card{
  min-width: 40% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* input */
.creatore input{border-radius: 10px;}
/* reset psw btn */
.form-row .accedi-btn{color: #fff;padding: 4%;}
.form-row .accedi-btn:hover {color: #fff;}
#creatore .form-group .email-input{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
}

.app-form{border-radius: 10px; padding: 2%;}

/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .lost-psw .cardcont {width: 58vw!important;}
    .card {
        margin-bottom: 10%;
        width: 85vw!important;
        padding: 10% !important;
    }

    .immagine-sfondo-na .card { width: 103vw !important;background: #fff !important;}
    .accordion .card {padding: 0% !important;}

}
    

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
.blocco {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 13%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    height: 51vh !important;
   }
   .immagine-sfondo-na .card {height: 75%!important;width: auto;}
   .lost-psw .cardcont {margin-top: 10%;width: 100%;}
   .immagine-sfondo-na .card {padding: 7%;}
   .days {margin-left: 0%;}
}

 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .lost-psw .cardcont {width: 58vw!important;}

}


/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .lost-psw .cardcont {width: 58vw!important;}

}
    

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}
