.immagine-sfondo-na{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    position:absolute;
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
}

.card-paypal-btn{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    margin-top: 20vh;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.cardtitle{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin-bottom: 20%;
    text-align: center;
}

.cardadv{
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    padding:5%;
    text-align: center;
    max-width: 70vh;
    background-color: rgba(255, 102, 0, 0.226);
    margin-top: 10%;
}

