.immagine-sfondo-price{
    background: url("../images/Background/Side\ vectors\ Bg.svg") no-repeat;
    background-size:cover;
    /*position: fixed;*/
    z-index: -1;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: max-content;
    min-height: 100%;
    overflow: scroll!important;
    -webkit-overflow-scrolling: touch!important;
    height: 100%;
    overflow: hidden !important;
}

.bg-light {background-color: #fff !important;}
.main-container{margin: 2%;}
.tit{
    color: var(--cod-gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    overflow-y: hidden !important;
}

.par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.card{
    background: transparent;
}

.card-deck .card{
    background: transparent;
    /*box-shadow: 10px 10px 51px rgba(98, 97, 97, 0.25);border-radius: 10px;*/
    padding: 5%;
    border: 0px !important;
}
.card-tit{
    color: var(--gray);
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin:2%;
    overflow-y: hidden !important;
}

.basic-price{
    color: #FF795B;
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin:3%;
    overflow-y: hidden !important;
}

.card-funclist{
    color: var(--cod-gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    max-width: 70%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    margin-bottom: 5%;
}

.card-funclist li{list-style-image: url("../images/Svg_/V.svg");margin-bottom:1%;}
.pro-price{
    color: #7E5EB4;
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    margin:3%;
    overflow-y: hidden !important;
}

.card-end{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    margin:2%;
    margin-top: 10%!important;
}

.card-deck{
    margin-bottom: 5%;
    width: 70vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

.immagine-sfondo-price .mission-content{
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70vw !important;
    margin-top: 5%;
    padding-bottom: 2%;
}

.mission-content .par{
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.plan-box{padding: 10% !important;     background: white !important;}
.basic-plan, .business-plan{margin-left: 18%;}
.card-cont{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    overflow-y: hidden !important;
}

.plan-box .btn-plan{
    font-size: 20px!important;
    font-style: normal;
    font-weight: bold !important;
    letter-spacing: 0px;
    color: white;
    line-height: 2;
    height: 36px !important;
    width: 200px;
    height: 50px!important;
    border-radius: 12px;
    margin-top: 20px;
}

.link-btn:hover {text-decoration: none !important;}
.card-funclist li{margin-bottom: 9%;}
.box-prize{margin-bottom: 25px;}
.card{border: 1px solid rgb(255 255 255 / 13%) !important;}
.card-body{box-shadow: 10px 10px 35px rgba(98, 97, 97, 0.25);border-radius: 12px;}

/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
    .box-prize .card-cont {font-size: 17px;}
    .box-prize .card-tit {font-size: 22px;}
    .card-end {font-size: 8px;}
    .pro-price {font-size: 25px;}

}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
    .box-prize .card-cont {font-size: 17px;}
    .box-prize .card-tit {font-size: 22px;}
    .card-end {font-size: 8px;}
    .pro-price {font-size: 25px;}

}
    
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
  .card-deck{
    position: relative;
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    flex-direction: column !important;
    flex-wrap: wrap;
    width: auto !important;
  }
}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
}


/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}



}


    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 
    

}

/* Google Nexus 6 12  */
@media only screen and (min-device-width : 412px) and (max-device-height : 732px) and (-webkit-device-pixel-ratio : 3) { 
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}

}

@media only screen and (min-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3.0) {
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
}


/*  Galaxy S8, S8+, S9, S9+, S10, S10+ */
@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 4) {
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
}


/* Galaxy S6, S7, S7 Edge */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 4) {
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}

}


/* Galaxy S4, S5, S3 Note 3 */
@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    .immagine-sfondo-price .mission-content{
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: auto !important;
        margin-top: 5%;
    }
    
    .card-deck{
      position: relative;
      display: flex !important;
      justify-content: center !important;
      margin: auto !important;
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 90vw !important;
    }

    .box-prize { margin-bottom: 25px;flex-direction: row;}
    .btn-center{justify-content: center;}
    .plan-box {padding: 6% !important; border-radius: 6px; overflow: hidden;}
    .card-cont {font-size: 21px;}
    .card-tit {font-size: 26px;}
}



/* tablet */
/* iPad 3, 4, 5, 6, Mini 2, Mini 3, Mini 4, Mini 7.9″ (5th Gen), Air, Air 2, Pro 9.7″ (1st Gen) */


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .immagine-sfondo-price .mission-content {
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100vw !important;
        margin-top: 5%;
        padding-bottom: 2%;
        padding-bottom: 32%;
    }
    .card-deck {width: 100vw;}
    .card-tit {font-size: 20px;}
    .card-cont { font-size: 18px;}
    .basic-price {font-size: 20px;}
    .pro-price {font-size: 20px;}
    .card-end {font-size: 10px;}
}


/*@media only screen and (min-width : 4095px) and (max-width : 5120px) {
    .immagine-sfondo-price .mission-content {padding-bottom: 32%;}
}*/
/* iMac 21 / 27 */
@media screen and (min-width:2560px) { 
    .immagine-sfondo-price .mission-content {padding-bottom: 32%;}
    .box-prize .card-cont {font-size: 21px;}
    .box-prize .card-tit {font-size: 26px;}
}

@media only screen and (min-width : 1280px) and (max-width : 5120px) {
    .immagine-sfondo-price .mission-content {padding-bottom: 32%;}
}




/* Macbook pro */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .immagine-sfondo-price {position: absolute;}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .immagine-sfondo-price {position: absolute;}
}