.bottone-salva{
    margin: none;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom:5px;
    padding-top:5px;
}
.mappa-bing{
  max-width: 800px;
  margin: 0 auto;
}
.contenitore-immagini{
    width: 80%;
    height: auto;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.immagine-shop{
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    padding:2px;
  }
  
  .card-shop{
    box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1), 
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
    max-width:400px;
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .testo-shop,
  .titolo-shop{
    text-align: center;
  }

.change-logo-background{
  text-align: start;
}

.dropdown-modules{
  display:inline-block;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 0.4em;
    box-sizing: content-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:bold;
    color:#000000;
    text-align:center;
    transition: all 0.2s;
    background-color: rgba(157, 157, 157, 0.161);
}

.dropdown-modules:hover{
  background-color: rgba(157, 157, 157, 0.161);
  border-color: rgba(157, 157, 157, 0.84);
  color: #000000;
}

.dropdown-modules:focus{
  background-color: rgba(157, 157, 157, 0.161);
  border-color: rgba(157, 157, 157, 0.84);
  color: #000000;
}


/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 


}
    
/* iphone 6+, 6s+, 7+, 8+ */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 
  .card-deck {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }


}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 


}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}