.sya-title{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
}

.sya-title2{
    font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
}

.sya-par{
    color: var(--gray);
    font-family: "Sofia Pro-Light", Helvetica, Arial, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    padding:2%;
    margin-bottom: 5%;
    text-align: center;
}

.syacard{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:5%;
    max-width: 40%;
}
