body {margin: 0 !important;padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  /*overflow-y: scroll !important;*/
}

h1, h2, h3, h4, h5, h6{overflow: hidden;}
.nav-tabs {overflow: hidden;}
input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control {overflow: hidden;}

code {font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}
.tabella-orario{width: 90%;margin-left: 5%;}
.tabella-orario td, .tabella-orario th{text-align: center;padding:8px;}
.tabella-orario th{background-color: rgba(211, 211, 211, 0.7);}
.tabella-orario tr{background-color: rgb(255,255,255,0.7);}
.tabella-orario tr:nth-child(even) {background: #F8F8F8;}
.modal-popup{height: 50%;}
.btn{border: solid #ffffff 0px !important;}
.btn:hover {border: solid #ffffff 0px !important;}
.navbar-light .navbar-toggler {outline: 0;border: 0px !important;}
.col-1{overflow-y: hidden !important;}
center{width: 70vw;}

/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 
  .days {margin-left: 0px!important;}

}

 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 


}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}
