@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@font-face {
  font-family: "Sofia Pro-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/SofiaPro-Regular") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.animaapp.com/SofiaPro-Light") format("opentype");
}

@font-face {
  font-family: "Sofia Pro-SemiBold";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.animaapp.com/SofiaPro-SemiBold") format("opentype");
}

* {
  box-sizing: border-box;
  overflow-x: hidden !important;
}
.border-class-2 {
  border: 1.5px solid var(--mist-gray);
}


.sticky-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.accedi-89515 {
  background-color: transparent;
  font-family: "Sofia Pro-SemiBold", Helvetica, Arial, serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
}
/*
.accedi-89515:hover{
  color: #ffffff !important;
  border-radius: 12px;
  margin-top: 9px;
  border: 0px solid #ffffff !important;
}*/


.loginContainer{
  position: relative;
  display: flex !important;
  justify-content: center;
  color: #764ed8 !important;
  width: 10em;
  height: 100%;
  border: 2px solid #764ed8 !important;
  /*width: 115px;
  height: 35px;
  margin-top: 9px;*/
  border-radius: 12px;
  color: #6300cc !important;
  line-height: 2.2;
}

.loginContainer:hover{
  color: #ffffff !important;
  justify-content: center;
  display: flex;
  position: relative;
  background-image: linear-gradient(#F45293, #4462C9);
  border: 2px solid #ffffff !important;
}

/* Btn login */
/*
.btn-mobile{
  justify-content: center;
  display: flex;
  position: relative;
  top: 5px;
  margin-bottom: 9px !important;
}*/


.caratteris-iche-89518 {
  background-color: transparent;
  height: auto;
  right: 470px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 104px;
}
.logo {
  background-color: transparent;
  /*height: 40px;
  left: 80px;*/
  left: 7%;
  top: 1%;
  top: 23px;
  width: 40px;
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;


  /*pointer-events: none;*/
}

.logo:hover{
  width: 40px;
  height: 40px;
  transition-property: none !important;
  transform: none !important;
  animation: none !important;
}

.mission-89517 {
  background-color: transparent;
  height: auto;
  right: 620px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 58px;
}

.navbarTopC {
  background-color: rgba(255, 255, 255, 0);
  min-height: 81px;
  box-shadow: 0px;
}

.prezzi-89519 {
  background-color: transparent;
  height: auto;
  right: 375px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 47px;
}

.contenitore-navbar{
  position:fixed;
  width: 100%;
  height: 81px;
  left: 50px;
  min-width: 1200px;
}

.rectangle-2 {
  background-color: transparent;
  height: 50px;
  right: 100px;
  position: absolute;
  width: 113px;
}

a { color: inherit; } 

.supporto-89520 {
  background-color: transparent;
  height: auto;
  right: 270px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 30px;
  width: 69px;
}

.sofiapro-regular-normal-black-15px {
  color: black;
  font-family: "Sofia Pro-Regular", Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
.smartphone-drawing-2 {width: 100%}
.content-logo{
  left: 7%;
  top: 1%;
}

/* Media query */
/* iphone 3 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) { 



}
        
/* iphone 4 */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone 6, 6s, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 


}

/* iphone X , XS, 11 Pro, 12 Mini */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 
  .loginContainer{
   /* margin-left: -55px !important;*/
  }
  .loginContainer .btn-mobile{
    /*top: 7px;
    left: 48px !important;*/
  }

  .btn-mobile{
    position: relative;
    top: 5px;
    margin-bottom: 9px !important;
    right: 29% !important;
  }

  .title-home{padding: 5%;}
  .create-app{padding: 5%;text-align: center;color: #000000;}
  .crea-la-tu-vita-45244 {font-size: 44px !important;padding: 0 !important;}
  .plan-box{border: 2px solid #d2d2d2 !important;}
  .card-body {box-shadow: none !important;}
}

 
/* iphone 12, 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) { 


}

/* Mission page*/
/* iphone XR, 11 */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) { 
  .rectangle-106 .col .crea-la-tu-vita-45244 {font-size: 40px!important;}
  .rectangle-106{padding: 0px !important;}
  .rectangle-104  {height: auto !important;}
  .secondSection .vector-svg {
    height: 95vw !important;
}
}
    
/* iphone XS Max, 11 Pro Max */
@media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) { 


}

/* iphone 12 Pro Max */
@media only screen and (min-device-width : 428px) and (max-device-height : 926px) and (-webkit-device-pixel-ratio : 3) { 


}