/*CSS CREAPPA*/


/*Css generali per ogni pagina*/
html,
body,
#root {
  height: 100%;
  width: 100%;
}

.contenitore{
  text-align:center;
}


.loading{
  text-align: center;
}

/*
  Immagine di sfondo usata per ogni pagina del children
  l'immagine ha un filtro blur
*/
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

h1, h5, p{
  color:rgb(255, 255, 255);
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 25px;
  left: 36px;
  top: 25px;
}



/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  
}

/* Individual item */
.bm-item {
  padding-top: 20px;
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top:0;
}


body {
  /*background-image : url("./sfondi/sfondo4.jpg");*/
  background-repeat: repeat;
  background-size: cover;
  background-position: center; 
}

/*Spaziatura usata tra la navbar e il body*/
.spaziatura-top-navbar{
  margin-top:60px;
}
/*Inizio css della homepage*/
.container-logo{
  max-width:500px;
  text-align:center;
}

a {
  color: #000;
}
a:hover {
   color: #000;
}
.logo-homepage{
  max-width: 200px;
  max-height: 200px;
}

.logo{
  max-width: 60px;
  max-height: 60px;
}



.imgTesto {
  background-color: rgba(255,255,255, 0.4);
  display: block;
  flex: 1 0 32%;
  text-align: center;
  min-width: 150px;
  margin-top:50px;
}

.container-bottoni{
  margin-top: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.imgTesto img {
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top:5px;
}

.descrizione{
  font-weight: bold;
}
/*Fine css homepage*/

/*Filtro blurr usata da ogni pagina*/
.blurred{
  background-color: rgba(255,255,255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*Inizio css about*/
.titolo-about{
  margin-left:20px;
}
.testo-about{
  text-align: justify;
  padding:10px;
}
.immagine-about{
  height: auto;
  margin-left:5%;
  width: 90%;
}
.spaziatura-about{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
  width: 90%;
}
/*Fine css about*/

/*Inizio css where*/
.spaziatura-where{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
  width: 90%;
}

.mappa-where{
  max-width: 400px;
}
/*Fine css where*/

/*Inizio css shop*/
.immagine-shop{
  width: 100%;
  height: 100%;
}
.spaziatura-shop{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 400px;
  width: 90%;
}

.card-shop{
  box-shadow: 
       inset 0 -3em 3em rgba(0,0,0,0.1), 
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  margin-left:5%;
  margin-top:20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.testo-shop,
.titolo-shop{
  text-align: center;
}
/*Fine css shop*/

/*Inizio css orario*/
.contenitore-orario{
  align-items: center;
}

.titolo-orario{
  text-align: center;
  width: 90%;
  margin-left: 5%;
}

.tabella-orario{
  width: 90%;
  margin-left: 5%;
}
.tabella-orario td, .tabella-orario th{
  text-align: center;
  padding:8px;
}

.tabella-orario th{
  background-color: rgb(211, 211, 211);
}

.tabella-orario tr{
  background-color: rgb(255,255,255);
}

.tabella-orario tr:nth-child(even) {
  background: #F8F8F8;
}
/*Fine css orario*/

/*Inizio css report*/
.form-report{
  width: 100%;
}

.titolo-report{
  text-align: center;
  width: 90%;
  margin-left:5%;
}
/*Fine css report*/

/*Inizio css webpage*/
.titolo-webpage{
  width: 90%;
  margin-left:5%;
  text-align: center;
}

.iframe-webpage{
  width: 90%;
  margin-left:5%;
}
/*Fine css webpage*/


/*Inizio css contatti*/
.titolo-contatti{
  width: 90%;
  margin-left:5%;
}

.container-item-contatti{
  width:90%;
  margin-left:5%;
  padding-bottom: 5px;
}

.contatti-item{
  padding-top:5px;
}
/*Fine css contatti*/

/*Inizio css appuntamento*/
.bottone-date{
  border:none;
  border-radius: 3px;
  padding-left:30px;
  padding-right:30px;
  padding-top:5px;
  padding-bottom:5px;
  width: 90%;
  margin-left: 5%;
  color:white;
}
.bottone-date:hover{
  color:darkgrey;
}

.textarea-date{
  margin-top:10px;
  margin-bottom:10px;
  width:90%;
  margin-left:5%;
}

.titolo-date{
  text-align:center;
  width:90%;
  margin-left:5%;
}

.datepicker-date{
  width:90%;
}

.testo-date{
  text-align:center;
  width:90%;
  margin-left:5%;
}
/*Fine css appuntamento*/